.title-checkout {
	color: #dadada;
	font-family: "UniSans";
	font-size: 36px;
	text-transform: uppercase;
}
.checkout {
	/* .checkout__title */
	&__title {
		margin: 0 0 20px 0;
	}
	/* .checkout__content */
	&__content {
		margin: 0 0 45px 0;
		@media (max-width: 490px) {
			margin: 0 -10px 30px;
		}
	}
	/* .checkout__order */
	&__order {
		@media (max-width: $md2+px) {
			margin: 0 0 45px 0;
		}
		@media (max-width: 490px) {
			margin: 0 0 30px 0;
		}
	}
}

//========================================================================================================================

.content-checkout {
	padding: 20px 30px 38px 45px;
	background-color: #fafafa;
	@media (max-width: 1012px) and (min-width: $md2+px) {
		padding: 25px;
	}
	@media (max-width: 722px) {
		padding: 25px;
	}
	@media (max-width: 490px) {
		padding: 15px 10px;
	}
	/* .content-checkout__nav */
	&__nav {
		display: flex;
		margin: 0 0 0 -30px;
		@media (max-width: 1012px) and (min-width: $md2+px) {
			display: block;
			margin: 0;
		}
		@media (max-width: 722px) {
			display: block;
			margin: 0;
		}
	}
	/* .content-checkout__item */
	&__item {
		height: 49px;
		display: flex;
		align-items: center;
		padding: 0 30px;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		background-color: transparent;
		color: #72c9d4;
		cursor: pointer;
		transition: .4s;
		white-space: nowrap;
		span {
			border-bottom: 2px dotted #72c9d4;
			pointer-events: none;
		}
		&._active {
			background-color: #72c9d4;
			color: #fff;
			pointer-events: none;
			span {
				border-bottom: none;
			}
		}
		@media (max-width: 1012px) and (min-width: $md2+px) {
			padding: 0;
			justify-content: center;
			margin: 0 -25px;
		}
		@media (max-width: 722px) {
			padding: 0;
			justify-content: center;
			margin: 0 -25px;
		}
		@media (max-width: 490px) {
			margin: 0 -10px;
		}
	}
	/* .content-checkout__body */
	&__body {
	}
	/* .content-checkout__block */
	&__block {
		padding: 30px 0 0 0;
		display: none;
		&._active {
			display: block;
		}
		&._fade {
			animation-name: fade;
  			animation-duration: 1s;
		}
		@keyframes fade {
  			from {
  				opacity: 0.1;
  			}
  			to {
  				opacity: 1;
 			}
  		}
	}
	/* .content-checkout__form */
	&__form {
	}
}

//========================================================================================================================

.form-checkout {
	display: flex;
	margin: 0 -22px;
	@media (max-width: $md1+px) {
		margin: 0 -15px;
	}
	@media (max-width: 555px) {
		display: block;
	}
	/* .form-checkout__column */
	&__column {
		flex: 0 0 50%;
		padding: 0 22px;
		@media (max-width: $md1+px) {
		padding: 0 15px;
		}
		@media (max-width: 555px) {
			margin: 0 0 20px 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	/* .form-checkout__line */
	&__line {
		display: flex;
		align-items: center;
		margin: 0 0 10px 0;
		&:last-child {
			margin: 30px 0 0 0;
			@media (max-width: 555px) {
				margin: 10px 0 0 0;
			}
		}
		@media (max-width: 1110px) {
			display: block;
		}
	}
	/* .form-checkout__label */
	&__label {
		flex: 1 1 auto;
		color: #333333;
		font-family: "Roboto";
		font-size: 14px;
		font-weight: 900;
		padding: 0 15px 0 0;
		white-space: nowrap;
		span {
			color: #f68038;
		}
		@media (max-width: 1110px) {
			margin: 0 0 5px 0;
		}
		textarea {

		}
	}
	/* .form-checkout__input */
	&__input {
		height: 30px;
		flex: 0 0 216px;
		border: 1px solid #e5e5e5;
		input {
			height: 100%;
			width: 100%;
			padding: 0 15px;
		}
		textarea {
			width: 100%;
			height: 121px;
			padding: 15px;
			resize: none;
		}
	}
	.checkout-select {
		display: flex;
		align-items: center;
		position: relative;
		background-color: #ffffff;
		&:after {
			content: "";
			position: absolute;
			width: 14px;
			height: 8px;
			top: 50%;
			right: 11px;
			transform: translateY(-50%);
			background: url("../img/catalog/select-icon.svg") center no-repeat;
		}
		select {
			width: 100%;
			font-weight: 300;
			color: #666666;
			appearance: none;
			padding: 0 0 0 15px;
			cursor: pointer;
			z-index: 1;
			background-color: transparent;
		}
	}
	/* .form-checkout__checkbox */
	&__checkbox {
		flex: 0 0 216px;
		display: flex;
		align-items: center;
		input[type=checkbox] {
			width: 15px;
			height: 15px;
			cursor: pointer;
		}
		label {
			padding: 0 0 0 10px;
			color: #666666;
			font-size: 12px;
			font-weight: 300;
			cursor: pointer;
		}
	} 
	/* .form-checkout__text */
	&__text {
		font-size: 12px;
		font-weight: 300;
		color: #666666;
		line-height: 18px;
		span {
			color: #f68038;
			font-size: 14px;
			font-weight: 900;
		}
		p:nth-child(2) {
			margin: 35px 0 20px 0;
			@media (max-width: 555px) {
				margin: 20px 0 15px 0;
			}
		}
	}
}

//========================================================================================================================

.order-checkout {
	/* .order-checkout__title */
	&__title {
		margin: 0 0 30px 0;
	}
	/* .order-checkout__items */
	&__items {
		margin: 0 0 28px 0;
	}
	/* .order-checkout__item */
	&__item {
		margin: 0 0 10px 0;
		&:last-child {
			margin: 0;
		}
	}
	/* .order-checkout__footer */
	&__footer {
		text-align: right;
	}
	/* .order-checkout__total */
	&__total {
		color: #333333;
		font-size: 24px;
		font-weight: 900;
		line-height: 16px;
		text-transform: uppercase;
		padding: 0 15px 0 0;
		margin: 0 0 30px 0;
		.rub {
			color: #f68038;
			font-size: 36px;
			line-height: 24px;
			padding: 0 0 0 15px;
			@media (max-width: $md3+px) {
				font-size: 30px;
			}
			&:after {
				font-size: 30px;
				@media (max-width: $md3+px) {
					font-size: 26px;
				}
			}
		}
		@media (max-width: $md3+px) {
			margin: 0 0 20px 0;
			font-size: 18px;
		}
	}
	/* .order-checkout__btn */
	&__btn {
		height: 33px;
		background-color: #f68038;
		color: #ffffff;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		padding: 0 20px;
		border-radius: 15px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: .4s;
		cursor: pointer;
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				background-color: #1ab9ce;
			}
		}
	}
}
.item-order {
	border: 1px solid #f5f5f5;
	padding: 27px 15px 15px 20px;
	display: flex;
	align-items: center;
	position: relative;
	@media (max-width: 680px) {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	@media (max-width: 420px) {
		padding: 15px 10px;
	}
	/* .item-order__content */
	&__content {
		display: flex;
		align-items: center;
		flex: 0 0 50%;
		@media (max-width: 680px) {
			margin: 0 0 20px 0;
			flex: 1 1 100%;
		}
	}
	/* .item-order__img */
	&__img {
		flex: 0 0 100px;
		padding: 0 30px 0 0;
		img {
			display: block;
			@media (max-width: $md4+px) {
				max-width: 100%;
			}
		}
	}
	/* .item-order__body */
	&__body {
		flex: 1 1 auto;
	}
	/* .item-order__title */
	&__title {
		display: block;
		font-weight: 300;
		color: #36949f;
		font-size: 14px;
		margin: 0 0 10px 0;
		span {
			font-weight: 900;
		}
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				text-decoration: underline;
			}
		}
	}
	/* .item-order__price */
	&__price {
		color: #333333;
		font-size: 24px;
		font-weight: 900;
		line-height: 24px;
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}
	/* .item-order__quantity */
	&__quantity {
		padding: 0 15px;
		flex: 1 1 auto;
		justify-content: center;
		@media (max-width: 680px) {
			justify-content: flex-start;
		}
		@media (max-width: 420px) {
			padding: 0;
		}
	}
	/* .item-order__total */
	&__total {
		flex: 1 1 auto;
		@media (max-width: 680px) {
			flex: 0 1 auto; //по умолчанию
		}
	}
	/* .item-order__label */
	&__label {
		line-height: 17px;
		color: #999999;
		font-size: 16px;
		font-weight: 300;
		margin: 0 0 10px 0;
		@media (max-width: 420px) {
			margin: 0 0 5px 0;
		}
	}
	/* .item-order__delete */
	&__delete {
		position: absolute;
		top: 24px;
		right: 14px;
		img {
			display: block;
		}
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				svg path {
					fill: #f68038;
				}
			}
		}
		@media (max-width: 520px) {
			top: 7px;
			right: 7px;
		}
	}
}
