
.main-slider {

	/* .main-slider__body */
	&__body {
	}
	/* .main-slider__slide */
	&__slide {
		position: relative;
	}
	/* .main-slider__content */
	&__content {
		position: relative;
		z-index: 2;
	}
	/* .main-slider__img */
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	/* .main-slider__dots */
	&__dots {
		display: none;
		@media (min-width: 570px) {
			margin: -27.5px 0 0 0;
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 1;
			counter-reset: item;
			.swiper-pagination-bullet {
				width: 55px;
				height: 55px;
				border: 4px solid #ffffff;
				border-radius: 50%;
				margin: 0 22.5px;
				position: relative;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				opacity: 1;
				&:after {
					counter-increment: item;
					content: counter(item);
					position: absolute;
					top: 0;
					left: 0;
					// border-radius: 50%;
					background-color: #f68038;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fffefe;;
					font-size: 16px;
					font-weight: 900;
					opacity: 0;
					transition: .3s;
				}
			}
			.swiper-pagination-bullet-active {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	/* .main-slider__button */
	&__button {
		display: none;
		@media (max-width: 570px-1px) {
			display: block;
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			width: 35px;
			height: 55px;
			z-index: 4;
			background: url("../img/page-content/prev-btn.png") 0 0 no-repeat;
			background-size: contain;
		}
	}
	
	@media (max-width: 570px-1px) {
		/* .main-slider__button-prev */
		&__button-prev {
			left: 0;
		}
		/* .main-slider__button-next */
		&__button-next {
			right: 0;
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

.content-main-slider {
	padding: 20px 35px 58px;
	/* .content-main-slider__title */
	&__title {
		font-size: 48px;
		font-weight: 900;
		text-transform: uppercase;
		color: #333333;
		line-height: 43px;
		margin: 0 0 50px 0;
		span {
			display: block;
			color: #f68038;
		}
		@media (max-width: 420px) {
			font-size: 30px;
			line-height: 38px;
		}
	}
	/* .content-main-slider__text */
	&__text {
	}
	/* .content-main-slider__footer */
	&__footer {
		text-align: center;
		padding: 15px 0 0 0;
	}
	/* .content-main-slider__price */
	&__price {
		font-weight: 900;
		color: #ffffff;
		font-size: 36px;
		line-height: 24px;
		margin: 0 0 24px 0;
		&:after {
			content: '₽';
			font-size: 32px;
		}
		@media (max-width: 420px) {
			font-size: 28px;
			&:after {
				font-size: 26px;
		}
		}
	}
	/* .content-main-slider__btn */
	&__btn {
		height: 33px;
		border: 3px solid #ffffff;
		border-radius: 15px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px 0 0;
		span {
			color: #fff;
			font-weight: 900;
			font-size: 14px;
			text-transform: uppercase;
			background: url("../img/page-content/slider-btn.png") right no-repeat;
			padding: 0 24px 0 15px;
		}
	}
}
.text-main-slider {
	color: #333333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	line-height: 24px;
	/* .text-main-slider__text-1 */
	&__text-1 {
		color: #f68038;
		font-size: 18px;
		@media (max-width: 420px) {
			font-size: 14px;
		}
	}
	/* .text-main-slider__text-2 */
	&__text-2 {
		padding: 5px;
		background-color: #939292;
		color: #fff;
	}
	/* .text-main-slider__text-3 */
	&__text-3 {
		color: #979797;
	}
}