.product {
	/* .product__title */
	&__title {
		color: #333333;
		font-family: "UniSans";
		font-size: 36px;
		text-transform: uppercase;
		line-height: 34px;
		margin: 0 0 18px 0;
		span {
			display: block;
			color: #dadada;
			font-size: 30px;
		}
	}
	/* .product__content */
	&__content {
		display: flex;
		margin: 0 0 35px 0;
		@media (max-width: 645px) {
			flex-wrap: wrap;
		}
	}
	/* .product__images */
	&__images {
		flex: 0 0 42.4%;
		min-width: 300px;
		@media (max-width: 645px) {
			min-width: 0;
			flex: 1 1 auto;
			margin: 0 0 20px 0;
		}
	}
	/* .product__body */
	&__body {
		flex: 1 1 auto;
		padding: 0 0 0 30px;
		@media (max-width: 645px) {
			padding: 0;
		}
	}
	/* .product__info */
	&__info {
		margin: 0 0 50px 0;
		@media (max-width: 490px) {
			margin: 0 -10px 30px;
		}
	}
	/* .product__same */
	&__same {

	}
}

//========================================================================================================================

.images-product {
	/* .images-product__mainslider */
	&__mainslider {
		border: 1px solid #f5f5f5;
		margin: 0 0 13px 0;
	}
	/* .images-product__mainslide */
	&__mainslide {
		height: 308px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	/* .images-product__sale */
	&__sale {
		position: absolute;
		top: 15px;
		left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background-color: #f65738;
		color: #fff;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: normal;
		line-height: 25.24px;
		letter-spacing: 0.29px;
	}
	/* .images-product__image */
	&__image {
		
	}
	/* .images-product__subslider */
	&__subslider {
		margin: 0 -6px;
	}
	/* .images-product__subslide */
	&__subslide {
		padding: 0 6px;
		&.swiper-slide-thumb-active {
			.images-product__subimage {
				border: 1px solid #f68038;
				img {
					border: 2px solid #f68038;
				}
			}
		}
	}
	/* .images-product__subimage */
	&__subimage {
		padding: 0 0 68% 0;
		border: 1px solid #e4e4e4;
		position: relative;
		transition: .15s;
		cursor: pointer;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			border: 2px solid transparent;
		}
	}
}

//========================================================================================================================

.body-product {
	/* .body-product__top */
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0 12px 0;
		border-bottom: 1px solid #ededed;
		margin: 0 0 20px 0;
	}
	/* .body-product__compare */
	&__compare {
		height: 33px;
		background-color: #f3f3f3;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		padding: 0 0 0 10px;
		cursor: pointer;
		transition: .4s;
		span {		
			color: #666666;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			padding: 0 20px 0 30px;
			background: url("../img/product/compare-icon.png") left no-repeat;
			line-height: 21px;
		}
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				background-color: #97979757;
			}
		}
	}
	/* .body-product__stock */
	&__stock {
		background-color: #f68038;
		text-align: center;
		padding: 0 10px;
		border-radius: 15px;
		color: #ffffff;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 300;
		line-height: 21px;
	}
	/* .body-product__action */
	&__action {
		padding: 0 0 30px 0;
		border-bottom: 1px solid #ededed;
		margin: 0 0 22px 0;
	}
	/* .body-product__options */
	&__options {
	}
}
.action-product {
	display: flex;
	align-items: center;
	@media (max-width: $md1+px) and (min-width: $md2+px), (max-width: 890px) {
		flex-wrap: wrap;
	}
	/* .action-product__price */
	&__price {
		
	}
	/* .action-product__old-price */
	&__old-price {
		color: #999999;
		font-size: 18px;
		font-weight: 300;
		text-decoration: line-through;
		span {
			font-size: 14px;
		}
	}
	/* .action-product__current-price */
	&__current-price {
		color: #333333;
		font-size: 24px;
		font-weight: 900;
		span {
			font-size: 16px;
		}
	}
	/* .action-product__quantity */
	&__quantity {
		flex: 1 1 auto;
		padding: 0 0 0 40px;
		@media (max-width: 645px) {
			padding: 0;
			justify-content: center;
		}
	}
	/* .action-product__cart */
	&__cart {
		position: relative;
		cursor: pointer;
		padding: 0 44px 0 0;
		background-color: transparent;
		span {
			display: flex;
			background-color: #f3f3f3;
			align-items: center;
			color: #999999;
			font-family: "Roboto";
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			height: 34px;
			padding: 0 22px 0 16px;
			transition: .4s;
		}
		&:after {
			content: "";
			position: absolute;
			width: 52px;
			height: 52px;
			top: -10px;
			right: 0;
			background: url("../img/cart-orange.png") 0 0 no-repeat;
		}
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				span {
					background-color: #97979757;
				}
			}
		}
		@media (max-width: $md1+px) and (min-width: $md2+px), (max-width: 890px) {
			flex: 1 1 100%;
			margin: 15px 0 0 0;
		}
	}
}
.quantity-product {
	display: flex;
	align-items: center;
	/* .quantity-product__arrow */
	&__arrow {
		cursor: pointer;
		background: url("../img/product/product-minus.svg") 0 0 no-repeat;
		width: 20px;
		height: 17px;
		@media (min-width: 992px) {// hhv snipet
			&:hover {
				background: url("../img/product/product-plus_h.svg") 0 0 no-repeat;
			}
		}
	}
	/* .quantity-product__arrow_minus */
	&__arrow_minus {
	}
	/* .quantity-product__arrow_plus */
	&__arrow_plus {
		transform: rotate(180deg);
	}
	/* .quantity-product__count */
	&__count {
		height: 33px;
		width: 56px;
		border: 2px solid #e5e5e5;
		text-align: center;
		color: #999999;
		font-family: "Roboto";
		font-size: 16px;
		font-weight: 400;
		margin: 0 15px;
	}
}

.options-product {
	/* .options-product__label */
	&__label {
		color: #333333;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 0 20px 0;
	}
	/* .options-product__items */
	&__items {
		display: flex;
		padding: 0 0 0 10px;
		max-width: 322px;
		justify-content: space-between;
		align-items: baseline;

	}
	/* .options-product__item */
	&__item {
		max-width: 65px;
		img {
			display: block;
			margin: 0 auto 12px;
		}
	}
	/* .options-product__text */
	&__text {
		text-align: center;
		color: #999999;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 300;
	}
}

//========================================================================================================================

.info-product {
	/* .info-product__titles */
	&__titles {
		display: flex;
		align-items: center;
	}
	/* .info-product__title */
	&__title {
		height: 49px;
		display: flex;
		align-items: center;
		padding: 0 30px;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		background-color: transparent;
		color: #72c9d4;
		cursor: pointer;
		transition: .4s;
		span {
			border-bottom: 2px dotted #72c9d4;
		}
		&._active {
			background-color: #72c9d4;
			color: #fff;
			pointer-events: none;//Запрещаем клик по активной ссылке
			span {
				border-bottom: none;
			}
		}
		@media (max-width: 650px) {
			flex: 0 1 50%;
		}
	}
	/* .info-product__body */
	&__body {
		background-color: #fafafa;
		padding: 37px 25px 37px 33px;
		&._transparent {
			background-color: transparent;
			padding: 37px 0;
		}
		@media (max-width: 490px) {
			padding: 15px 20px;
			&._transparent {
				padding: 15px 0;
			}
		}
	}
	/* .info-product__text */
	&__text {
		color: #666666;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		&._fade {
			animation-name: fade;
  			animation-duration: 1s;
		}
		@keyframes fade {
  			from {
  				opacity: 0.1;
  			}
  			to {
  				opacity: 1;
 			}
  		}
		&._show {
		  display: block;
		}
		&._hide {
  			display: none;
  		}
  		p {
  			margin: 0 0 20px 0;
  			&:last-child {
  				margin: 0;
  			}
  		}
	}	
	/* .info-product__table */
	&__table {
		border-collapse: collapse;
		tr {
			border-bottom: 1px solid #f0f0f0;
		}
		td {
			width: 50%;
			padding: 6px 0 6px 33px;
			color: #999999;
			&:first-child {
				color: #333333;
				font-weight: 400;
			}
			@media (max-width: 650px) {
				padding: 6px 0;
			}
			@media (max-width: 490px) {
				padding: 6px 10px;
				font-size: 12px;
			}
		}
	}
}

//========================================================================================================================

.same-products {
	/* .same-products__title */
	&__title {
		color: #dadada;
		font-family: "UniSans";
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.75px;
		margin: 0 0 30px 0;
	}
	/* .same-products__items */
	&__items {
		.items-products__column {
			@media (max-width: $md1+px) and (min-width: $md2+px) {
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}
